@media (max-width: 1200px) {
  .dropdown_main {
    display: none;
  }
  #nav_toggle {
    display: block;
  }
  .fee-av-card {
    height: 367px;
    margin-bottom: 40px;
}
    

.right_more_btn{
  margin-top: 52px;

}
}
@media (min-width: 992px) {
  .w-50-lg {
    width: 50%;
  }
  .w-70-lg {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .Your_finance_expert_card {
    width: 100%;
  }
  .fee-adv-video p {
    margin-top: 50px;
  }
  .ughh {
    margin-bottom: 40px;
  }
  .startegy-top-cards {
    margin-bottom: 0;
  }
  nav {
    justify-content: center;
  }
  nav .links:nth-child(3) {
    margin: 0;
  }
  nav .links:nth-child(3)::before {
    content: none;
  }
  nav button {
    display: none;
  }
  .owl-prev {
    top: -78%;
  }
  .owl-next {
    top: -78%;
  }
}
@media (max-width: 768px) {
  .mini-cards {
    margin-bottom: 30px;
  }
  .Your_finance_expert_card {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .image {
    display: none;
  }
  .banner::before {
    background-position: center;
  }
  nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100px;
  }
  nav .links {
    width: 48%;
    margin: 0;
  }
  nav .links::before {
    content: none;
  }
  .banner .content h1 {
    font-size: 26px;
  }
  .section-heading h5, .fee-adv-text h5 {
    font-size: 20px;
    text-align: center;
  }
  .video-series-text p {
    text-align: center;
  }
  .banner .content h1,
  .banner .content p {
    width: 100%;
  }
  .banner {
    height: 500px;
  }
  .banner .content {
    margin-top: 80px;
  }
}
@media (max-width: 620px) {
  .owl-prev {
    margin-left: -8px;
  }
  .owl-next {
    right: -2px;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
  nav .links {
    width: 100%;
  }
}
