@media (max-width: 992px) {
  nav {
    justify-content: center;
  }
  nav .links:nth-child(3)::before {
    content: none;
  }
  nav button {
    display: none;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
