html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
input,
button {
  outline: none;
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}
nav button {
  background: #00a0d2;
  border-radius: 23px;
  width: 148px;
  height: 35px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav button img {
  margin-right: 10px;
}
nav .links {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-right: 70px;
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
nav .links::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 1px;
  background-color: #e8e8e8;
  top: -9px;
  right: -34px;
}
nav .links img {
  margin-right: 10px;
}
.banner {
  padding-top: 25px;
  width: 100%;
  height: 682px;
  position: relative;
}
.banner::before {
  content: "";
  background-image: url("images/banner-img.png");
  background-size: cover;
  position: absolute;
  inset: 0 0 0 0;
  background-color: white;
  opacity: 0.2;
}
.banner .nav_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dropdown_main {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.banner .nav_ .dropdown_ {
  font-size: 14px;
  font-weight: 400;
  color: #55565a;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.banner .nav_ .dropdown_ img {
  margin-right: 5px;
}
.banner .nav_ .dropdown_:hover {
  border-bottom: 2px solid var(--primary);
}
.dropdown_:hover + .dropdown_menu,
.dropdown_menu:hover {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 25px;
  left: -5px;
  background-color: white;
  border-radius: 9px;
  padding: 12px 18px;
  z-index: 50;
  width: max-content;
  box-shadow: 1px 1px 9px -3px #a4a4a4;
  display: none;
}
.dropdown_menu a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary);
  margin-bottom: 5px;
}
.dropdown_menu a:hover {
  text-decoration: none;
}
.nav_ .logo {
  width: 236px;
  height: 50px;
}
.banner .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 139px;
}
.banner .content h1 {
  color: #55565a;
  font-size: 54px;
  font-weight: 400;
  width: 590px;
  border-bottom: 3px solid var(--primary);
  margin-bottom: 25px;
  padding-bottom: 8px;
}
.banner .content p {
  width: 600px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #55565a;
  margin-bottom: 35px;
}
.banner .content button {
  width: 306px;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 25px;
  border: none;
}
#nav_toggle {
  width: 25px;
  cursor: pointer;
  display: none;
}
.sidebar-menu {
  position: fixed;
  background-color: white;
  box-shadow: 1px 0 10px -4px grey;
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;

  transform: translateX(-300px);
  transition: transform ease 0.3s;
}
.sidebar-menu.active {
  transform: translateX(0);
}
.sidebar-menu .head {
  padding: 15px 20px;
  border-bottom: 1px solid #dadada;
}
.sidebar-menu .body {
  padding: 15px 20px;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-links {
  color: #444;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 5px 0;
  display: inline-block;
  text-decoration: none !important;
}
.sidebar_dropdown {
  margin: 10px 0;
}
.sidebar_dropdown a {
  color: #444;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 5px 12px;
  display: block;
  text-decoration: none !important;
}
.sidebar-backdrop {
  display: none;
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(225, 225, 225, 0.1);
  backdrop-filter: blur(3px);
}
.sidebar-backdrop.active {
  display: block;
}
.sidebar_dropdown_btn {
  display: block;
  position: relative;
}
.sidebar_dropdown_btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: unset;
  background-image: url("images/sidebar-collapse-arrow.png");
  transition: 0.3s ease;
  transform: rotate(270deg);
}
.sidebar_dropdown_btn.active::before {
  transform: rotate(0);
}
.sidebar-close {
  cursor: pointer;
}
.sidebar_btn {
  background: #00a0d2;
  border-radius: 23px;
  border: none;
  height: 45px;
  color: white;
}

.section-heading h5 {
  font-size: 24px;
  color: #55565a;
  text-align: center;
  font-weight: 700;
}

.section-para p {
  font-size: 14px;
  color: #55565A;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 810px;
}

.header-underline {
  background-color: #906d4e;
  width: 167px;
  height: 3px;
}

section {
  padding: 80px 0px;
}

#section-OC {
  background: #fcfcfc;
}

.continue_btn button {
  border: none;
  border-radius: 23px;
  opacity: 1;
  background: #906d4e;
  color: #fff;
  padding: 12px 98px;
}

.continue_btn button:hover {
  background: #70563e;
}

#fee-advice {
  background: url(images/dots-bg.svg) no-repeat top left -15px,
    url(images/bg-texture-layer.svg) no-repeat center right -200px,
    url(images/bg-circle.svg) no-repeat top 570px left 311px;
}

.fee-adv-text h5 {
  font-size: 28px;
  color: #55565a;
}

.fee-adv-text p {
  font-size: 14px;
  font-weight: 300;
}
.fee-adv-video p{
  font-size: 14px;
  text-align: left;
  margin-bottom: 9px;
}
.fee-adv-video span{
  color: #906D4E;
  font-weight: 500;
}
.fee-adv-video a{
  color: #906D4E;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}
.owl-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-logos img {
  width: auto !important;
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: -140%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: -140%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}
.owl-carousel .owl-nav.disabled {
  display: block !important;
}
