html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
input,
button {
  outline: none;
}
.top-header{
  background-color: #f3f3f3;
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}
nav button {
  background: #00a0d2;
  border-radius: 23px;
  width: 148px;
  height: 35px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav button img {
  margin-right: 10px;
}
nav .links {
  color: #906D4E;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-right: 70px;
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
nav .links::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #906D4E;
  /* top: -9px; */
  right: -34px;
}
nav .links svg {
  margin-right: 10px;
  fill: var(--primary);
  stroke: var(--primary);
}
.banner {
  padding-top: 25px;
  width: 100%;
  height: 682px;
  position: relative;
}
.banner::before {
  content: "";
  background-image: url("images/banner-img.png");
  background-size: cover;
  position: absolute;
  inset: 0 0 0 0;
  background-color: white;
  opacity: 0.2;
}
.banner .nav_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dropdown_main {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.banner .nav_ .dropdown_ {
  font-size: 14px;
  font-weight: 400;
  color: #55565a;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.banner .nav_ .dropdown_ img {
  margin-right: 5px;
}
.banner .nav_ .dropdown_:hover {
  border-bottom: 2px solid var(--primary);
}
.dropdown_:hover + .dropdown_menu,
.dropdown_menu:hover {
  display: block;
}
.dropdown_menu {
  position: absolute;
  top: 25px;
  left: -5px;
  background-color: white;
  border-radius: 9px;
  padding: 12px 18px;
  z-index: 50;
  width: max-content;
  box-shadow: 1px 1px 9px -3px #a4a4a4;
  display: none;
}
.dropdown_menu a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary);
  margin-bottom: 5px;
}
.dropdown_menu a:hover {
  text-decoration: none;
}
.nav_ .logo {
  width: 236px;
  height: 50px;
}
.banner .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 139px;
}
.banner .content h1 {
  color: #55565a;
  font-size: 54px;
  font-weight: 400;
  width: 590px;
  border-bottom: 3px solid var(--primary);
  margin-bottom: 25px;
  padding-bottom: 8px;
}
.banner .content p {
  width: 600px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #55565a;
  margin-bottom: 35px;
}
.banner .content button {
  width: 306px;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary);
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid var(--primary);
}
button.btn_hover:hover{
  background-color: var(--primary);
  color: #ffffff;
}
#nav_toggle {
  width: 25px;
  cursor: pointer;
  display: none;
}
.sidebar-menu {
  position: fixed;
  background-color: white;
  box-shadow: 1px 0 10px -4px grey;
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;

  transform: translateX(-300px);
  transition: transform ease 0.3s;
}
.sidebar-menu.active {
  transform: translateX(0);
}
.sidebar-menu .head {
  padding: 15px 20px;
  border-bottom: 1px solid #dadada;
}
.sidebar-menu .body {
  padding: 15px 20px;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-links {
  color: #444;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 5px 0;
  display: inline-block;
  text-decoration: none !important;
}
.sidebar_dropdown {
  margin: 10px 0;
}
.sidebar_dropdown a {
  color: #444;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 5px 12px;
  display: block;
  text-decoration: none !important;
}
.sidebar-backdrop {
  display: none;
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(225, 225, 225, 0.1);
  backdrop-filter: blur(3px);
}
.sidebar-backdrop.active {
  display: block;
}
.sidebar_dropdown_btn {
  display: block;
  position: relative;
}
.sidebar_dropdown_btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: unset;
  background-image: url("images/sidebar-collapse-arrow.png");
  transition: 0.3s ease;
  transform: rotate(270deg);
}
.sidebar_dropdown_btn.active::before {
  transform: rotate(0);
}
.sidebar-close {
  cursor: pointer;
}
.sidebar_btn {
  background: #00a0d2;
  border-radius: 23px;
  border: none;
  height: 45px;
  color: white;
}

.section-heading h5 {
  font-size: 24px;
  color: #55565a;
  text-align: center;
  font-weight: 700;
}

.section-para p {
  font-size: 14px;
  color: #55565a;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  max-width: 810px;
}

.header-underline {
  background-color: #906d4e;
  width: 167px;
  height: 3px;
}

section {
  padding: 80px 0px;
}

#section-OC {
  background: #fcfcfc;
}

.continue_btn button {
  border: 1px solid #906d4e;
  border-radius: 23px;
  opacity: 1;
  background: #fff;
  color: #906d4e;
  padding: 12px 98px;
}

.continue_btn button:hover {
  background: #906d4e;
  color: #fff;
}

#fee-advice {
  background: url(images/dots-bg.svg) no-repeat top left -15px,
    url(images/bg-texture-layer.svg) no-repeat center right -200px,
    url(images/bg-circle.svg) no-repeat top 570px left 311px;
}

.fee-adv-text h5 {
  font-size: 28px;
  color: #55565a;
}

.fee-adv-text p {
  font-size: 14px;
  font-weight: 300;
}
.fee-adv-video p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 9px;
}
.fee-adv-video span {
  color: #906d4e;
  font-weight: 500;
}
.fee-adv-video a {
  color: #906d4e;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}
.owl-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-logos img {
  width: auto !important;
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: -140%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: -140%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}

.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.fee-av-card {
  padding: 48px 35px 21px 35px;
  position: relative;
  height: 328px;
}
.fee-av-card:hover::before {
  content: "";
  width: 128px;
  height: 4px;
  border-radius: 5px;
  background: #906d4e;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}
.fee-av-card:hover {
  box-shadow: 0px 0px 12px #0000001a;
  border-radius: 8px;
}
.fee-av-card:hover .read_more_btn {
  visibility: visible;
}
.fee-av-card img {
  margin-bottom: 21px;
}
.fee-av-card h5 {
  font-size: 18px;
  color: #55565a;
}
.fee-av-card p {
  font-size: 14px;
  text-align: left;
  color: #55565a;
}
.fee-av-card a {
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #906d4e;
}
.read_more_btn {
  text-align: center;
  margin-top: 69px;
  visibility: hidden;
}
.mid_more_btn{
  margin-top: 28px;
}
.read_more_btn a {
  font-size: 14px;
  font-weight: 500;
  color: #906d4e;
}

.free-testing-div {
  background-color: #fcfcfc;
  padding: 80px 0;
}
.ughh:hover {
  background-color: #ffffff;
  color: var(--primary);
}
.ughh:hover h1 {
  color: var(--primary);
}
.ughh:hover p {
  color: var(--primary);
}
.ughh {
  transition: 0.1s ease;
  cursor: pointer;
  background-color: var(--primary);
  box-shadow: 0px 0px 12px #0000001a;
  border-radius: 8px;
  padding: 28px 35px 40px 35px;
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 256px;
}

.ughh svg {
  margin-bottom: 19px;
  width: 64px;
  height: 82px;
}
.ughh svg,
.ughh svg g,
.ughh svg path {
  fill: #ffffff;
  stroke: #ffffff;
}
.ughh:hover svg,
.ughh:hover svg g,
.ughh:hover svg path {
  fill: var(--primary) !important;
  stroke: var(--primary) !important;
}

.ughh h1 {
  text-align: left;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.ughh p {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.process-div {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding: 35px;
  margin: 0 0 40px 0px;
  cursor: pointer;
  min-height: 220px;
}
.process_heading {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.process_heading img {
  margin-right: 10px;
}
.process_heading h5 {
  margin: 0;
  font-size: 18px;
  color: #906d4e;
  font-weight: 500;
}
.process-div p {
  font-size: 14px;
  color: #55565a;
}

.strategy-div-main {
  position: relative;
  background-image: url(images/strategy-section-back-bottom.svg);
  padding: 50px 0 0 0;
  background-color: #fffcf9;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-position: left bottom 30px;
}

.strategy-div-main button {
  width: 314px;
  height: 45px;
  border: 1px solid #906d4e;
  border-radius: 23px;
  border: 1px solid #906d4e;
  margin-bottom: 50px;
  background-color: transparent;
  color: #906d4e;
  font-size: 14px;
  font-weight: 400;
}

.strategy-div-main .p,
.p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #55565a;
}

.startegy-top-cards {
  margin-bottom: 60px;
}

.back_img-top {
  position: absolute;
  right: -34px;
  top: 169px;
}

.video-series-text p {
  font-size: 14px;
  color: #55565a;
  text-align: left;
  font-weight: 500;
}
.video-series-btn button {
  background: #fff;
  border: 1px solid #906d4e;
  border-radius: 23px;
  opacity: 1;
  color: #906d4e;
  font-size: 14px;
  padding: 12px 98px;
  font-weight: 500;
}
.investment-cards:hover {
  box-shadow: 0px 0px 6px #00000029;
}
.investment-cards {
  cursor: pointer;
  background: white;
  border-radius: 12px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 35px;
}
.investment-cards img {
  margin-bottom: 20px;
}
.investment-cards h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: var(--primary);
}
.investment-cards h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: var(--primary);
}

.investment_btn {
  width: 245px;
  height: 45px;
  border: 1px solid #906d4e;
  border-radius: 23px;
  border: 1px solid #906d4e;
  margin-bottom: 50px;
  background-color: transparent;
  color: #906d4e;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
  font-weight: 500;
}

.up-to-date-div {
  margin-bottom: 35px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  min-height: 213px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.ut-date {
  background: #906d4e;
  border-radius: 8px 0px 0px 8px;
  padding: 40px 17px 56px 18px;
}

.ut-date h5 {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.ut-date h4 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  font-weight: 400;
}

.ut-text {
  padding: 25px 29px 25px 19px;
}

.ut-text-heading h5 {
  font-size: 18px;
  font-weight: 500;
  color: #906d4e;
  margin-bottom: 28px;
}

.ut-text-para p {
  text-align: left;
  font-size: 14px;
  color: #55565a;
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
}
.ut-text-para p a {
  color: #4469ff;
  text-decoration: none;
}

.last-cards {
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  margin-bottom: 25px;
}
.last-cards .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding: 7px 25px;
}
.last-cards .head .items {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 12px;
  color: #d2d2d2;
}
.last-cards .head img {
  margin-right: 3px;
}
.last-cards .body {
  padding: 5px 25px;
  min-height: 90px;
  display: flex;
  align-items: center;
}
.last-cards .body h2 {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #906d4e;
  margin: 0;
}
.last-cards .footer {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 8px 8px;
  padding: 14px 60px 14px 25px;
}
.last-cards .footer h2 {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  margin-right: 30px;
  margin-bottom: 0;
}
footer {
  background-color: #906d4f;
  padding: 50px 0 0 0;
}
.footer-logo {
  margin-bottom: 25px;
  width: 265px;
}
footer h2 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 500;
}
footer h3 {
  text-align: left;
  font-size: 14px;
  margin-bottom: 2px;
  color: #ffffff;
  font-weight: 300;
}

footer h3 a {
  text-align: left;
  font-size: 14px;
  margin-bottom: 2px;
  color: #ffffff;
  font-weight: 300;
}
footer h3 a:hover {
  color: #2493b1;
  text-decoration: none;
}
footer h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
footer h6 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.email-input-main {
  height: 45px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 25px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.email-input-main input {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  flex: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
}
.email-input-main input::placeholder {
  color: #ffffff;
}
.email-check {
  text-align: left;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
}
.email-check input {
  margin-right: 13px;
}
footer button {
  width: 100%;
  height: 45px;
  background: #00a0d2;
  border-radius: 23px;
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
}

.bottom-links {
  text-align: left;
  font-size: 13px;
  letter-spacing: 0px;
  color: #d2d2d2;
  text-decoration: none !important;
  padding: 0 20px 10px 20px;
}

.bottom-link:hover {
  text-decoration: none !important;
}
.footer-bottom {
  background-color: #434343;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-bottom h5 {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0 0 0;
  font-weight: 400;
}
